{% extends 'base.html' %}
{% block title %}
    About EcoSanity
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='about.css')}}">
{% endblock css %}
{% block body %}
    <section class="about">
        <h2>About EcoSanity</h2>
        <div class="desc">
        <p>EcoSanity is a distinguished nonprofit organization with a resolute commitment to transforming the landscape of environmental sanitation and pollution awareness. Our ethos is encapsulated in the evocative slogan, "Sanitation with a twist," reflecting our unique and innovative approach to these critical issues. Our unwavering dedication is to effect tangible change, addressing the pressing challenges that pollution and waste management pose to our beloved planet. At EcoSanity, we firmly believe that true progress requires a fresh perspective and inventive solutions.</p>
        <p>Our central mission revolves around the profound aspiration to improve the Earth as a habitat for current and future generations. We achieve this through an unwavering focus on raising awareness, engaging and inspiring individuals, communities, and organizations to take proactive measures. Education, innovation, and collaborative efforts form the bedrock of our approach.</p>
        <p>EcoSanity boasts a dedicated team of individuals whose passion for preserving our environment is unparalleled. Our organization orchestrates a wide array of initiatives, educational programs, and campaigns that champion eco-friendly practices, waste reduction, and sustainable living.</p>
        <p>We invite you to become a part of our crusade to reverse the tide of environmental degradation and usher in a cleaner, healthier world. Together, we can redefine sanitation, paving the way for a future that is brighter, more sustainable, and in line with the utmost formal and ethical standards.</p>
    </div>
    </section>
{% endblock body %}